.Drawer{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 50px 10px 0;
  box-sizing: border-box;
  background: #fff;
  z-index: 100;
  transform: translateX(0px);
  transition: transform .22s ease-in;
  overflow: auto;
}

.Drawer.close{
  transform: translateX(300px);
}

.Drawer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.Drawer ul li{
  margin-bottom: 10px;
}

.Drawer ul li a{
  color: #363f54;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  padding: 0 20px 10px;
  transition: opacity .3s;
}

.Drawer ul li a:hover, .active{
  opacity: .7;
}