.NewsEdit{
  box-sizing: border-box;
  margin-bottom: 10px;
}

.NewsEdit label{
  display: block;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.NewsEdit input{
  width: 100%;
  margin: 0; padding: 0; border: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.NewsEdit textarea{
  width: 100%;
  height: 400px;
  margin: 0; padding: 0; border: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.NewsEdit .error{
  color: red;
}