.AuthMenu{
  position: relative;
}

.AuthMenu i{
  font-size: 20px;
  color: #fff;
  transition: opacity, right .22s ease-in, color .5s ease;
}

.AuthMenu .submenu_wrapper{
  position: absolute;
  left: auto;
  right: -74px;
  padding-top: 15px;
  display: none;
}

.AuthMenu:hover .submenu_wrapper{
  display: block;
}

.AuthMenu .name{
  background-color: rgba(73,189,76, .8);
  text-align: center;
  padding: 0 5px;
  margin: 0;
  list-style: none;
}
.AuthMenu .submenu{
  background-color: rgba(140,67,67, .8);
  text-align: center;
  padding: 0 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  list-style: none;
}

.AuthMenu .name p{
  margin: 0;
  padding: 15px 0;
}

.AuthMenu .submenu li{
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid rgba(140,67,67, 1);
  cursor: pointer;
  min-width: 190px;
}

.AuthMenu .submenu li a{
  color: #fff;
  text-decoration: none;
}

.AuthMenu .submenu li:hover{
  opacity: .7;
}

.AuthMenu .submenu p:last-child{
  border-bottom: none;
}