.SignUp{
  text-align: center;
  box-sizing: border-box;
}

.SignUp label{
  display: block;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.SignUp input{
  width: 100%;
  margin: 0; padding: 0; border: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.SignUp textarea{
  width: 100%;
  height: 400px;
  margin: 0; padding: 0; border: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.SignUp .error{
  color: red;
}