.NewsDetailPage{
  padding: 15px 0;
  min-height: 100%;
  background: linear-gradient(90deg, #999 0%, #aaa 37%, #bbb 100%);
}

.NewsDetailPage .card{
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  padding: 5px;
  position: relative;
}

.NewsDetailPage h2{
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 50px;
}

.NewsDetailPage .info{
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 15px;
}