.ErrorInputField{
  box-sizing: border-box;
  margin-bottom: 10px;
}

.ErrorInputField label{
  display: block;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.ErrorInputField input{
  width: 100%;
  margin: 0; padding: 0; border: 0;
  display: block;
}

.ErrorInputField .error{
  color: red;
}
