.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding: 0 74px 0 30px;
  height: 50px;
  background-color: rgba(140,67,67,1);
  color: #fff;
}

.Header .logo{
  font-size: 30px;
}

.Header .logo a{
  color: #fff;
  text-decoration: none;
}

.Header .logo a:hover{
  opacity: .7;
}


