.ErrorTextareaField{
  box-sizing: border-box;
  margin-bottom: 10px;
}

.ErrorTextareaField label{
  display: block;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.ErrorTextareaField textarea{
  width: 100%;
  height: 400px;
  margin: 0; padding: 0; border: 0;
  display: block;
}

.ErrorTextareaField .error{
  color: red;
}
