.NewsCard{
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  padding: 5px;
}

.NewsCard:last-child{
  margin-bottom: 0;
}

.NewsCard a{
  color: #000;
}

.NewsCard a:hover{
  opacity: .7;
}

.NewsCard h2{
  margin-top: 0px;
  margin-bottom: 5px;
}

.NewsCard .info{
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 15px;
}